.idea/kotlinScripting.xml
/output/
.vscode/launch.json
/node_modules/
node_modules/.package-lock.json
.idea/inspectionProfiles/Project_Default.xml
.vs/slnx.sqlite
node_modules/.bin/tsc
node_modules/.bin/tsserver
/.idea/libraries/groovy_4_0_2.xml
/lib
.idea/libraries/jetbrains_kotlinx_coroutines_debug.xml
.idea/libraries/app_softwork_kotlinx_uuid_core_jvm.xml
.idea/libraries/jetbrains_kotlinx_coroutines_core.xml
node_modules/typescript
node_modules/typescript/lib/lib.es2015.generator.d.ts
package-lock.json
node_modules/typescript/lib/tsc.js
node_modules/typescript/lib/tsserver.js
node_modules/typescript/lib/tsserverlibrary.js
node_modules/typescript/lib/typescript.js
node_modules/typescript/lib/typescriptServices.js
node_modules/typescript/lib/typingsInstaller.js
node_modules/typescript/package.json
pubspec.lock
