.idea/kotlinScripting.xml
/output/
.vscode/launch.json
/node_modules/
node_modules/.package-lock.json
.idea/inspectionProfiles/Project_Default.xml
.vs/slnx.sqlite
node_modules/.bin/tsc
node_modules/.bin/tsserver
node_modules/.bin/tsc
